<!DOCTYPE html>
<html>
<head>
	<title>Youtube Thumbnail Maximizer</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<style type="text/css">
		body
		{
			margin-top:20px;
		}
	</style>
</head>
<body>

	<div class="container">
		<div class="center-block">
			<h2>Youtube Thumbnail Maximizer</h2>
		</div>
		<div class="panel panel-primary">
			<div class="panel-body">
				<form action="submitLink" method="post">
					<div class="colgroup" style="width:70%; height:20px ; margin: 10px auto">
						<div class="col-md-3">
							Youtube Video URL : 
						</div>
						<div class="col-md-7">
							<input style="width:100%" type="URL" name="vidURL">
						</div>
						<div class="col-md-2">
							<button type="Submit">Submit</button>
						</div>						
					</div>
					<br>
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>