<!DOCTYPE html>
<html>
<head>
	<title>Youtube Thumbnail Maximizer</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<style type="text/css">
		body
		{
			margin-top:20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="center-block">
			<h2>Youtube Thumbnail Maximizer</h2>
		</div>
		<div class="panel panel-primary">
			<div class="panel-body">
				<h4>Your shareable link is : <a href="{{ shareableURL }}">{{ shareableURL }}</a></h4>
			</div>
		</div>
	</div>
</body>
</html>